<h1>Nova Lista</h1>

<%= form_with(model: @list ) do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit 'Criar', class: 'btn btn-success' %>
<% end %>
